@-webkit-keyframes rotate-right {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate-right {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate-left {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes rotate-left {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes pulse {
  from {
    opacity: 0.5;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(1.4);
  }
}
@keyframes pulse {
  from {
    opacity: 0.5;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(1.4);
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  color: #fff;
  background-color: #232323;
}

.sticky-body {
  overflow: hidden;
}

.company-name {
  margin-bottom: 0.5em;
  font-size: 3rem;
  font-family: "Cinzel", serif;
  color: #d6c78e;
}

.wrapper {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
}

.section-title {
  position: relative;
  margin: 0 auto 2em;
  font-size: 3rem;
  color: #d6c78e;
  font-weight: 200;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.section-title::before {
  content: "";
  position: absolute;
  bottom: -0.1em;
  left: 0;
  width: 40px;
  height: 2px;
  background-color: #d6c78e;
}
.section-title span {
  font-weight: 900;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.header__text {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-row: 2/3;
  grid-column: 1/3;
  padding: 2em;
}
.header__text p {
  font-weight: 200;
}
.header__img {
  grid-row: 1/2;
  grid-column: 1/3;
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../img/header-small.jpg");
  background-size: cover;
  background-position: center;
  filter: sepia();
}
.header__shadow {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.header__arrow {
  display: none;
}
.header__bg-icon-one, .header__bg-icon-two {
  position: absolute;
  opacity: 0.05;
  z-index: -5;
}
.header__bg-icon-one {
  bottom: 2em;
  right: -3em;
  width: 50%;
  -webkit-animation: rotate-right 55s infinite linear;
          animation: rotate-right 55s infinite linear;
}
.header__bg-icon-two {
  display: none;
}

.hamburger {
  position: fixed;
  top: 3em;
  left: 1em;
  transform: translateY(-50%);
  z-index: 500;
}

.nav-mobile {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #232323;
  transition: transform 0.3s;
  transform: translateX(-102%);
  z-index: 10;
}
.nav-mobile--active {
  transform: translateX(0);
}
.nav-desktop {
  display: none;
}
.nav__link {
  position: relative;
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em;
  font-size: 1.8rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s;
  color: #d6c78e;
}
.nav__link:hover {
  color: #d6c78e;
}

.cards {
  background-color: #191919;
  overflow: hidden;
}
.cards__box {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 2em;
  padding: 6em 2em;
}
.cards__card {
  position: relative;
  display: grid;
  justify-items: center;
  text-align: center;
  padding: 2em;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #232323;
  transition: background-color 0.3s, border 0.3s;
  z-index: 5;
}
.cards__card:hover {
  background-color: #191919;
  border: 1px solid #d6c78e;
  z-index: 1;
}
.cards__card::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid #d6c78e;
  border-radius: 8px;
}
.cards__card:hover::before {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
}
.cards__card img {
  margin-bottom: 1em;
  width: 50px;
}
.cards__card h3 {
  margin-bottom: 0.5em;
  text-transform: uppercase;
}
.cards__card--one {
  grid-row: 1/2;
  grid-column: 1/-1;
}
.cards__card--two {
  grid-row: 2/3;
  grid-column: 1/-1;
}
.cards__card--three {
  grid-row: 3/4;
  grid-column: 1/-1;
}

.info {
  position: relative;
  display: grid;
  grid-template-areas: "title title title" "box box box" "box box box";
  padding: 4em 2em;
}
.info__title {
  grid-area: title;
}
.info__boxes {
  grid-area: box;
}
.info__box-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: sepia();
}
.info__box-title {
  margin: 0.5em 0;
  font-size: 2.2rem;
  color: #d6c78e;
  font-weight: 200;
}
.info__box-text {
  margin-bottom: 0.7em;
}
.info__box {
  margin-bottom: 2em;
}
.info__link-pos {
  display: flex;
  justify-content: end;
}
.info__box-link {
  display: inline;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  color: #d6c78e;
  padding: 10px 0 10px 10px;
  transition: color 0.3s;
}
.info__box-link:hover {
  color: #9b9165;
}
.info__bg-icon {
  display: none;
}

.plans {
  padding: 5em 2em;
  background-color: #191919;
}
.plans__box {
  margin: 1em 0;
  padding: 1em 1em;
  text-align: center;
  background-color: #232323;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: 0.3s;
}
.plans__box:hover {
  background-color: #191919;
  border: 2px solid #d6c78e;
}
.plans__item {
  margin: 1em 0;
}
.plans__item-icon {
  width: 50px;
}
.plans__item-name {
  color: #d6c78e;
}

.newsletter {
  padding: 6em 2em;
  background-color: #A01C35;
  text-align: center;
}
.newsletter__text {
  font-size: 2.4rem;
  font-weight: 200;
  margin-bottom: 0.6em;
  padding: 1em;
}
.newsletter__form input {
  padding: 0.5em 1em;
  margin-bottom: 1em;
  width: 100%;
}
.newsletter__form button {
  background-color: transparent;
  border: 1px solid #d6c78e;
  color: #d6c78e;
  padding: 0.5em 1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.newsletter__form button:hover {
  background-color: #d6c78e;
  color: #A01C35;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.gallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: sepia();
}
.gallery__desktop {
  display: none;
}

.contact {
  padding: 5em 2em;
}
.contact__form-top, .contact__form-bottom, .contact__box {
  display: grid;
  grid-template-columns: 1fr;
}
.contact__input, .contact__text-area {
  background-color: transparent;
  border: 1px solid rgb(62, 62, 62);
  padding: 0.4em;
  margin: 0.5em 0 1.4em;
  resize: vertical;
  max-height: 200px;
  color: #fff;
  outline: none;
}
.contact__text-area {
  height: 100px;
}
.contact__btn {
  position: relative;
  background-color: transparent;
  color: #d6c78e;
  padding: 0.8em 4em;
  border: 1px solid #d6c78e;
  cursor: pointer;
  margin-top: 1em;
  transition: 0.3s;
}
.contact__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #d6c78e;
  z-index: -2;
  transition: transform 0.3s;
  transform: scaleX(0);
  transform-origin: right;
}
.contact__btn:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
.contact__btn:hover {
  color: black;
}

.footer {
  padding: 2em 1em;
  text-align: center;
  border-top: 2px solid #191919;
  background-color: #191919;
}

@media (min-width: 576px) {
  .info {
    grid-template-areas: "title box" "title box" "title box";
    padding: 7em 2em;
  }
  .info__box {
    display: grid;
    justify-content: end;
  }
  .info__title {
    padding: 0 1em;
  }
  .info__box-img, .info__box-text {
    max-width: 500px;
  }
  .info__bg-icon {
    position: absolute;
    display: block;
    opacity: 0.05;
    z-index: -5;
  }
  .info__bg-icon--one {
    top: 15%;
    width: 20%;
    -webkit-animation: rotate-left 150s infinite;
            animation: rotate-left 150s infinite;
  }
  .info__bg-icon--two {
    bottom: 10%;
    left: 10%;
    width: 30%;
    -webkit-animation: rotate-right 130s infinite linear;
            animation: rotate-right 130s infinite linear;
  }
  .info__bg-icon--three {
    top: 35%;
    left: 15%;
    width: 50%;
    -webkit-animation: rotate-right 130s infinite linear;
            animation: rotate-right 130s infinite linear;
  }
  .info__bg-icon--four {
    top: 55%;
    left: -10%;
    width: 15%;
    -webkit-animation: rotate-left 140s infinite linear;
            animation: rotate-left 140s infinite linear;
  }
}
@media (min-width: 768px) {
  .cards__box {
    padding: 10em 2em;
    gap: 4em;
  }
  .cards__card--one {
    grid-row: 1/2;
    grid-column: 1/4;
  }
  .cards__card--two {
    grid-row: 1/2;
    grid-column: 4/7;
  }
  .cards__card--three {
    grid-row: 1/2;
    grid-column: 7/10;
  }
  .plans__box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .plans__item {
    margin: auto 0;
  }
  .plans__item-icon {
    margin-left: 1em;
  }
  .newsletter__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .newsletter__text {
    margin-bottom: 0;
  }
  .newsletter__form {
    padding-right: 1em;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1em;
  }
  .newsletter__form input {
    margin-bottom: 0;
  }
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
  .gallery img {
    height: 200px;
  }
  .gallery__tablet {
    display: block;
  }
  .contact__form-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
}
@media (min-width: 992px) {
  .section-title {
    font-size: 4.4rem;
  }
  .section-title::before {
    height: 4px;
  }
  .header {
    grid-template-rows: auto repeat(2, 1fr);
  }
  .header__text {
    grid-row: 2/4;
    grid-column: 1/2;
  }
  .header__text .company-name {
    font-size: 4.1rem;
  }
  .header__text p {
    font-size: 1.5rem;
  }
  .header__img {
    background-image: url("../img/header-big.jpg");
    grid-row: 1/4;
    grid-column: 2/3;
  }
  .header__arrow {
    display: block;
    position: absolute;
    left: 48%;
    bottom: 5%;
    padding: 1.3em;
    transform: translateX(-50%);
    border: 1px solid #fff;
    border-radius: 50%;
  }
  .header__arrow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    border-radius: 50%;
    -webkit-animation: pulse 2s infinite;
            animation: pulse 2s infinite;
  }
  .header__arrow-icon {
    width: 40px;
  }
  .header__bg-icon-one {
    top: 7em;
    left: 36%;
    width: 6%;
  }
  .header__bg-icon-two {
    display: block;
    bottom: 4em;
    left: 5em;
    width: 10%;
    -webkit-animation: rotate-left 44s infinite linear;
            animation: rotate-left 44s infinite linear;
  }
  .nav {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 0.4em;
  }
  .nav-desktop {
    position: relative;
    display: block;
    position: fixed;
    top: 0;
    width: 50%;
    z-index: 1000;
    padding-left: 10%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.295);
  }
  .nav-desktop::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.41);
  }
  .nav__link {
    color: #fff;
  }
  .nav__link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #d6c78e;
    opacity: 0;
  }
  .nav__link:hover::before {
    -webkit-animation: pulse 1s;
            animation: pulse 1s;
  }
  .hamburger {
    display: none;
  }
  .gallery {
    grid-template-columns: repeat(8, 1fr);
  }
  .gallery__desktop {
    display: block;
  }
}
@media (min-width: 1200px) {
  .header__text .company-name {
    font-size: 5rem;
  }
  .header__text p {
    font-size: 2rem;
  }
}/*# sourceMappingURL=main.css.map */